In [56]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import linear_model
%matplotlib inline

In [57]:
df=pd.read_csv('homeprices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      6 non-null      int64
 1   bedrooms  5 non-null      float64
 2   age       6 non-null      int64
 3   price     6 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 324.0 bytes

In [59]:
df.describe()

              area  bedrooms        age          price
count     6.000000   5.00000   6.000000       6.000000
mean   3416.666667   4.20000  16.500000  648333.333333
std     587.934237   1.30384   8.288546  109117.673484
min    2600.000000   3.00000   8.000000  550000.000000
25%    3050.000000   3.00000   9.750000  572500.000000
50%    3400.000000   4.00000  16.500000  602500.000000
75%    3900.000000   5.00000  19.500000  722500.000000
max    4100.000000   6.00000  30.000000  810000.000000

In [60]:
# filling all null values with the median value
df['bedrooms'].fillna(df['bedrooms'].median(), inplace=True)

In [61]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [62]:
reg= linear_model.LinearRegression()

In [63]:
reg.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [64]:
reg.coef_
# [a,b,c]

array([  112.06244194, 23388.88007794, -3231.71790863])

In [65]:
reg.intercept_
# d

221323.00186540437

In [66]:
# y= ax + bz + cf + d

In [67]:
new_data = pd.DataFrame({
    'area': [2800, 3400, 3700],
    'bedrooms': [3, 4, 5],
    'age': [15, 20, 10]
})
new_data

   area  bedrooms  age
0  2800         3   15
1  3400         4   20
2  3700         5   10

In [68]:
new_data['predicted_prices']=reg.predict(new_data[['area','bedrooms','age']])
new_data.to_csv('predicted_house_prices.csv', index=False)
new_data

   area  bedrooms  age  predicted_prices
0  2800         3   15     556788.710908
1  3400         4   20     631256.466608
2  3700         5   10     720581.258355